main 
{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 60vw;
    background-color: #4f2c5a;   
}

#projectIntro
{
    display: flex;
    flex-direction: column;
    align-items: left;
}

#projectIntro > *
{
    margin: 10px;
    margin-bottom: 5px;
    text-align: left;
}

#projectIntro > img
{
    aspect-ratio: 10 / 4;
    width: 45vw;
    object-fit: cover;
    display: block;
}

#projectAbout
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projectAbout > *
{
    margin: 10px;
}


#about
{
    display: flex;
    flex-direction: row;
    
}

#about > *
{
    /* flex: 1; */
}

.about
{
    width: fit-content;
    margin-left: 50px;
}

#textBox
{
    background-color: aliceblue;
    padding: 20px;
    width: 30vw;
}
#roleInfo
{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: fit-content;
}

#roleInfo > li
{
    background-color: aquamarine;
    padding: 5px;
    margin: 5px;
    text-align: left;
}