@media(min-width: 1201px)
{
    #navbar{
        font-size: 20px;
    }

    #pfp{
        width: 20vw;
        height: 20vw;
    }
#projects{
    
    width: 100vw;
}
#intro >  p {
    font-size: 20px;
  }
    #projects > h1{
        font-size: 50px;
        
        
    }

    .project > img{
        border-radius: 20px;
        width: 400px;
        height: 400px;
    }
    .projectContainer{
        justify-content: space-around;
        
    }

    .projectContainer .text{
        width: 390px;
        padding-left: 10px;
        margin-left: 2px;
        margin-bottom: 2px;
        border-radius: 0 0 20px 20px;
    }
    .tags{
        width: 400px;
        row-gap: 1vh;
    }
    .tags >li{
        margin-right: 10px;
        padding: 5px;
  border-radius: 10px;
    }
    
}

