@media (max-width: 1080px)
{

    #navbar{
        font-size: 17.5px;
    }

    #pfp{
        margin-top: 50px;
        width: 30vw;
        height: 30vw;
    }
    #projects{
        width: 100vw;
    }
    .projectContainer{
     flex-direction: column;
     justify-content: center; 
     align-items: center;
    }

    #projects > h1{
        font-size: 40px;
    }

    .project > img{
        width: 75vw;
        height: 75vw;
        
    }
    .projectContainer .text{
        width: 72.5vw;
        padding-left: 2.5vw;
        margin-left: 2px;
        margin-bottom: 2px;
    }

    .tags{
        width: 75vw;
        margin-bottom: 20px;
    }
}

