<header>
    <nav>
        <ul id="navbar">
            <li> <a href="index.html"> home</a></li>
            <li> <a href="https://github.com/Dinnea" target="_blank"> github</a></li>
            <!-- <li> <a href="https://dinnea.itch.io/" target="_blank"> itch.io</a></li> -->
            <li> <a href="https://www.linkedin.com/in/alexwojtowicz1" target="_blank"> linkedIn</a></li>
            <li> <a href="#contact"> contact</a>
            <li> <a href="./src/resume/aw-resume.pdf" target="_blank"> resume </a></li>
        </ul>
    </nav>
</header>